player-connection-mode=Connect
player-connection-guid=998296714
player-connection-debug=0
player-connection-project-name=Zeros_Laboratory_Repository
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.10
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=86d1a451c1864c8cb1ee645bf400b143
